@font-face {
    font-family: 'jujutsu kaisen';
    src:url('../fonts/jujutsukaisen.woff2') format('woff2'),
        url('../fonts/jujutsukaisen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'electrolize';
    src:url('../fonts/electrolize.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0;
    background-color: black;
    color: rgba(217,210,132,129);
}

nav img {
    width: 10%;
    margin-left: 8%;
    margin-right: 6.5%;
    margin-top: 6%;
    margin-bottom: 6%;
    vertical-align: middle;
}

/* TODO: acceable maken voor non muis apparaten */
nav img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

/* https://www.w3schools.com/howto/howto_css_shake_image.asp */
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    transition: all .2s ease-in-out;
}

header img:hover, footer a:hover {
    transform: scale(1.1);
}

header a, nav a {
    color: black;
    font-size: 0.1px;
}

h1 {
    font-family: 'jujutsu kaisen', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 2.5em;
    text-align: center;
}

h2 {
    font-family: 'electrolize', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 1.25em;
}

h3 {
    font-family: 'electrolize', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 1.125em;
    margin: 0.563em;
}

h4 {
    font-family: 'electrolize', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 0.563em;
}

h5 {
    font-family: 'electrolize', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    margin-bottom: 0.5em;
    text-align: center;
}

p {
    font-family: 'electrolize', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 1em;
}

strong {
    font-size: 1em;
    font-weight: normal;
}

ul {
    list-style: none;
}

footer {
    border: 0.125em;
    padding: 2%;
    background-color: rgba(217,210,132,129);
}

footer a {
    color: black;
    font-family: 'jujutsu kaisen', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 1.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

body#home nav img {
    width:16.5%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 6%;
    margin-bottom: 6%;
    vertical-align: middle;
}

body#home h2, body#home h3, body#geto h2 {
    margin-top: 2em;
}

body#home img {
    margin-top: 0;
}

body#home p {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center;
}

body#home main section ul {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    min-width: 50%;
}

body#home main section ul li {
    font-family: 'jujutsu kaisen', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
}

body#home main img {
    width:16.5%;
    /* margin-left: 3.5%;
    margin-right: 3%;
    margin-top: 6%;
    margin-bottom: 6%;
    vertical-align: middle; */
}

body#home main section:nth-child(3) img {
    width:13%;
}

body#home section div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

body#home .gif {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    padding: 1em;
    border: thick double rgba(217,210,132,129);
}



body#gojo {
    background-color: rgb(53, 39, 60);
}

body#gojo p {
    background-color: rgb(43, 30, 49);
    border-radius: 1.563em;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body#gojo header a, body#gojo nav a{
    color: rgb(53, 39, 60);
}

body#gojo main div div {
    display: flex;
    align-items: center;
    justify-content: center;
}

body#gojo main div img {
    display: block;
    width: 40%;
    margin-left: auto;
    margin: auto;
}


body#gojo section div {
    display: flex;
}

body#gojo section div img {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}


video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    width: 50%;
}







body#geto, body#geto .no-backgroundcolor {
    background-color: rgb(23, 51, 75);
}

body#geto header a, body#geto nav a {
    color: rgb(23, 51, 75);
}

body#geto main img {
    display: block;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

body#geto p {
    background-color: rgb(21, 45, 65);
    height: fit-content;
    border-radius: 1.563em;
    padding: 1em;
    
}


body#geto .outer-box {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}


body#geto .inner-box-one {
    width: 50%;
    display: flex;
    align-items: start;
    margin-left: 7.5em;
}


body#geto .inner-box-two {
    width: 50%;
    display: flex;
    align-items: end;
}

body#geto .inner-box-one img, body#geto .inner-box-two img {
    width: 100%;
    margin: 0;
    padding: 0;
}

body#geto .width-p {
    margin: 1em;
    width: 60%;
}

body#geto section:nth-child(3) {
    margin-top: 5em;
    margin-bottom: 5em;
}

body#geto section:nth-child(3) p {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

body#geto section:nth-child(3) div {
    display: flex;
    width: 100%;
}

body#geto section:nth-child(3) div img {
    width: 70%;
    height:fit-content
}

body#geto section:nth-child(3) div p {
    text-align: start;
}





body#nanami {
    background-color: rgb(91, 88, 57);   
}

body#nanami header a, body#nanami nav a {
    color: rgb(91, 88, 57);
}

body#nanami section:nth-child(2) div {
    overflow: auto;
    white-space: nowrap;
    padding: 0.625em;
}

body#nanami section div img {
    width: 30%;
    padding: 0.25em;
}

body#nanami p {
    width: 60%;
    background-color: rgb(76, 74, 49);
    border-radius: 1.563em;
    padding: 1em;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body#nanami main section:nth-child(3), body#nanami main section:nth-child(4) {
    margin-top: 3em;
}

body#nanami main section:nth-child(3) div {
    display: flex;
    justify-content: center;
}

body#nanami main section:nth-child(3) div img {
    width: 30%;
}

body#nanami main section:nth-child(3) div img:first-of-type {
    mix-blend-mode: color-burn;
}

body#nanami main section:nth-child(4) div p {
    width: 45%;
}

body#nanami main section:nth-child(4) img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    
}









body#choso {
    background-color: rgb(65, 28, 28);
}

body#choso header a, body#choso nav a {
    color: rgb(65, 28, 28);
}







