/* fallback font toevoegen */
/* @font-face {
    font-family: 'Jujutsu Kaisen';
    src: url('JujutsuKaisen.woff2') format('woff2'),
        url('JujutsuKaisen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: 'jujutsu kaisen';
    src:url('../fonts/ujutsukaisen.woff2') format('woff2'),
        url('/..fonts/jujutsukaisen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    background-color: black;
    color: rgba(217,210,132,129);
}

nav img {
    width: 10%;
    margin-left: 8%;
    margin-right: 6.5%;
    margin-top: 6%;
    margin-bottom: 6%;
    vertical-align: middle;
}

/* TODO: acceable maken voor non muis apparaten */
nav img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

header img:hover {
    transform: scale(110%);
}

h1 {
    font-family: 'jujutsu kaisen';
    font-size: 2.5em;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 1.25em;
}


h3 {
    text-align: center;
    font-size: 1.125em;
    margin: 0.563em;
}

h4 {
    text-align: center;
    margin: 0.563em;
}

h5 {
    margin-bottom: 0.5em;
    text-align: center;
}
header a {
    color: black;
    font-size: 0.1px;
}

nav a {
    color: black;
    font-size: 0.1px;
}

ul {
    list-style: none;
}

p {
    font-size: 1em;
}

strong {
    font-size: 1em;
    font-weight: normal;
}

footer {
    border: 0.125em;
    padding: 2%;
    background-color: rgba(217,210,132,129);
}

footer a {
    color: black;
    font-family: 'jujutsu kaisen';
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

footer a:hover {
    transform: scale(110%);
}


body#home nav img {
    width:16.5%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 6%;
    margin-bottom: 6%;
    vertical-align: middle;
}

body#home img {
    margin-top: 0;
}

body#home p {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center;
}


body#home main section ul {
    display: flex;
    justify-content: space-between;
    margin-right: 6%;
    margin-top: 0;
    margin-bottom: 5%;
}

body#home main section ul li {
    font-family: 'jujutsu kaisen';
    font-size: 1.5em;
}

main img {
    width:16.5%;
    margin-left: 3.5%;
    margin-right: 3%;
    margin-top: 6%;
    margin-bottom: 6%;
    vertical-align: middle;
}

.gif {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    border: thick double rgba(217,210,132,129);
}

section.gege img {
    width: 18%;
    margin-left: 4.1%;
    margin-right: 2%;
}

body#home main section:nth-child(3) img {
    width:13%;
}

body#gojo {
    background-color:rgb(53, 39, 60);
}

body#gojo p {
    background-color: rgb(43, 30, 49);
    border-radius: 1.563em;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body#gojo header a {
    color: rgb(53, 39, 60);
}

body#gojo main a {
    color: rgb(53, 39, 60);
}

body#gojo main div div {
    display: flex;
    align-items: center;
    justify-content: center;
}

body#gojo main div img {
    display: block;
    width: 40%;
    margin-left: auto;
    margin: auto;
}


body#gojo section div {
    display: flex;
}

body#gojo section div img {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}


video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    width: 50%;
}







body#geto {
    background-color: rgb(23, 51, 75);
}

body#geto main a {
    color: rgb(23, 51, 75);
}

body#geto header a {
    color: rgb(23, 51, 75);
}

body#geto p {
    width: 100%;
    margin-left: 2em;
    margin-right: 0;
    padding: 0;
}

body#geto .outer-box {
    margin-left: 4em;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}


body#geto .inner-box-one {
    width: 50%;
    display: flex;
    align-items: start;
}


body#geto .inner-box-two {
    width: 50%;
    display: flex;
    align-items: end;
}

body#geto .inner-box-one img, body#geto .inner-box-two img {
    width: 100%;
    margin: 0;
    padding: 0;
}

body#geto .width-p {
    width: 40%;
}




body#nanami {
    background-color: rgb(91, 88, 57);   
}

body#nanami header a{
    color: rgb(91, 88, 57);
}

body#nanami main a{
    color: rgb(91, 88, 57);
}

body#nanami section:nth-child(2) div {
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

body#nanami section div img {
    width: 40%;
}

body#nanami p {
    text-align: center;
}

body#nanami main section:nth-child(3) div {
    /* display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto; */
    /* width: 100%; */
    display: flex;
    justify-content: center;
    mix-blend-mode: color-burn;
}

body#nanami main section:nth-child(4) img {
    width: 25%;
    margin-top: 0;
}





body#choso {
    background-color: rgb(65, 28, 28);
}

body#choso header a {
    color: rgb(65, 28, 28);
}

body#choso main a {
    color: rgb(65, 28, 28);
}







